.breakpoint-0 {
  margin-left: auto;
  margin-right: auto;
  width: 100%
}
.style0 {
  background-color: #a6adb4;
  display: flex;
  margin-top: 81.48%;
  width: 100%;
  height: 18.518vh
}
.style13 {
  color: #fff;
  font-family: 'Acumin Pro',serif;
  font-size: .6770833333333334vw;
  font-weight: 700;
  margin-left: 9.739583333333334vw;
  margin-top: 3.0208333333333335%;
  height: 6.5%
}
.web19201container0column1 {
  display: flex;
  margin-left: 5.15625vw;
  width: 3.229%;
  height: 42%;
  align-self: center;
  flex-direction: column;
  justify-content: space-between
}
.style1,
.style10,
.style4,
.style7 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .6770833333333334vw;
  font-weight: 700;
  height: 17.857%
}
.web19201container0column2 {
  display: flex;
  margin-left: 3.8020833333333335vw;
  width: 3.072%;
  height: 42%;
  align-self: center;
  flex-direction: column;
  justify-content: space-between
}
.style11,
.style2,
.style5,
.style8 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .6770833333333334vw;
  font-weight: 700;
  height: 17.857%
}
.web19201container0column3 {
  display: flex;
  margin-left: 5vw;
  width: 4.114%;
  height: 42%;
  align-self: center;
  flex-direction: column;
  justify-content: space-between
}
.style12,
.style3,
.style6,
.style9 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .6770833333333334vw;
  font-weight: 700;
  height: 17.857%
}
.web19201container0column4 {
  display: flex;
  margin-left: 15.364583333333334vw;
  margin-top: 3.0208333333333335%;
  width: 18.072%;
  height: 33%;
  align-items: center;
  flex-direction: column
}
.style14 {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  display: flex;
  margin-top: 0;
  width: 99.711%;
  height: 60.606%;
  align-items: center;
  border-radius: 6px
}
.style17 {
  color: rgba(203,208,211,.5);
  font-family: Helvetica,serif;
  font-size: .6770833333333334vw;
  line-height: 20px;
  margin-left: 1.0416666666666667vw;
  width: 10.115%
}
.style15 {
  display: flex;
  margin-left: 13.28125vw;
  width: 4.624%;
  height: 40%;
  align-items: center;
  flex-direction: column
}
.style16 {
  width: 100%;
  height: 100%
}
.style18 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .5729166666666666vw;
  line-height: 20px;
  margin-top: 1.4814814814814814vh;
  width: 100%
}
.style25 {
  display: flex;
  margin-left: 14.895833333333334vw;
  margin-top: 2.9166666666666665%;
  width: .833%;
  height: 8%;
  align-items: center;
  flex-direction: column
}
.style26 {
  width: 100%;
  height: 100%
}
.style22,
.style23 {
  display: flex;
  align-items: center
}
.style22 {
  margin-left: 1.6666666666666667vw;
  margin-top: 2.9166666666666665%;
  flex-direction: column;
  width: .833%;
  height: 8%
}
.style23 {
  width: 100%;
  height: 100%
}
.style24 {
  width: 100%;
  height: 81.111%
}
.style19,
.style20 {
  display: flex;
  align-items: center
}
.style19 {
  margin-left: 1.6666666666666667vw;
  margin-top: 2.9166666666666665%;
  flex-direction: column;
  width: .833%;
  height: 8%
}
.style20 {
  width: 100%;
  height: 100%
}
.style21 {
  width: 52.222%;
  height: 100%
}
.style27 {
  display: flex;
  margin-left: 1.6666666666666667vw;
  margin-top: 2.9166666666666665%;
  width: .833%;
  height: 8%;
  align-items: center;
  flex-direction: column
}
.style28 {
  width: 100%;
  height: 100%
}